#out {
    border: 1px solid black;
    display: inline-block;
    float: right;
    width: 50%;
}
#cat {
}

pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.container {
  width: 62em;
  margin: 0 auto;
  margin-top:5em;
}

#pre {
  min-height: 1.5em;
}

#code {
  display: block;
}

[contenteditable] {
  border-style: Transparent;
  outline: none;
}
